* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-blue: rgb(35, 31, 162);
  --blue: rgb(58, 102, 183);
  --light-blue: rgb(143, 199, 244);
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}

.container_generated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.spinning_background {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    var(--dark-blue),
    var(--blue),
    var(--light-blue),
    var(--blue),
    var(--dark-blue),
    var(--blue),
    var(--light-blue),
    var(--blue),
    var(--dark-blue),
    var(--blue),
    var(--light-blue),
    var(--blue),
    var(--dark-blue),
    var(--blue),
    var(--light-blue),
    var(--blue),
    var(--dark-blue)
  );
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  left: -50%;
  top: -50%;
  animation: spin 7s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
.container_generated__img {
  width: 100%;
  height: 100%;
  padding: 3rem;
  z-index: 2;
  overflow: hidden;
  transition: all 0.2s linear;
}

container_generated__img img {
  width: 100%;
  height: 100%;
}

.container_generated__img:hover {
  border-radius: 1rem;
  cursor: copy;
  padding: 0.7rem;
}

.container_controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #242424;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  min-width: 500px;
  max-width: 70%;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  border: 1px solid #777;
  box-shadow: 0 0 0 0.5px #242424;
}
.button_custom {
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  border: 1px solid #777;
  box-shadow: 0 0 0 0.5px #242424;
  transition: all 0.15s ease-in-out;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_controls {
  height: 3.5rem;
}

.quality {
  width: 25%;
  margin-right: 1rem;
}

.button_logout {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
}

.button_custom:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #242424;
  border: 1px solid #242424;
  box-shadow: 0 0 0 0.5px #242424;
}

.user_controls {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_controls__quality {
  display: flex;
}

.text_error {
  color: #ff0000;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  padding: 0.7rem;
  background-color: rgba(333, 333, 333, 0.8);
  border: 1px solid #ff0000;
  margin-bottom: 1rem;
  text-align: center;
}

@media (max-width: 746px) {
  .App {
    flex-direction: column;
  }
  input {
    min-width: 300px;
  }

  .user_controls {
    padding-top: 0.5rem;
  }

  .user_controls {
    margin-top: 1.5rem;
    justify-content: start;
  }

  .text_error {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    bottom: 0.2rem;
    right: 0.2rem;
  }

  .button_logout {
    bottom: 0.5rem;
    left: 0.5rem;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

body {
  background-color: rgb(10, 10, 10);
  display: grid;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  place-items: center;
}

.magic {
  display: inline-block;
  position: relative;
}

.magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

.magic > .magic-star > svg > path {
  fill: var(--blue);
}

.magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, var(--dark-blue), var(--blue), var(--light-blue), var(--dark-blue));
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}
