* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding: 0%;
  margin: 0%;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}

.container_genrated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #242424;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.container_genrated__img {
  width: 100%;
  height: 100%;
  padding: 3rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.container_genrated__img:hover {
  border-radius: 1rem;
  cursor: copy;
  padding: 0.15rem;
}

.container_controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #242424;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  min-width: 500px;
  max-width: 70%;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  border: 1px solid #777;
  box-shadow: 0 0 0 0.5px #242424;
}
.button_custom {
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  border: 1px solid #777;
  box-shadow: 0 0 0 0.5px #242424;
  transition: all 0.15s ease-in-out;
  width: 100%;
}

.button_logout {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 150px;
}

.button_custom:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #242424;
  border: 1px solid #242424;
  box-shadow: 0 0 0 0.5px #242424;
}

.user_controls {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button_medium {
  margin: 0 1rem;
}

.container_controls__quality {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.text_error {
  position: absolute;
  top: 1rem;
  font-size: 1.5rem;
  color: #ff0000;
  text-shadow: 0 0 2px orangered;
}

.active {
  background-color: #ffffff;
  color: #242424;
  border: 1px solid #242424;
  box-shadow: 0 0 0 0.5px #242424;
}

@media (max-width: 746px) {
  .App {
    flex-direction: column;
  }
}
